

/* Global styles */
.window-app {
  background-color: burlywood;
  background-color:blue;
  /*min-width: 665px;*/
}


/* --------------------------------------------------------------------------*/
/* Seulement pour basicRpg                                                     */
/* --------------------------------------------------------------------------*/

.basicRpg {

}



.font-Arial11
{
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal;
  color: black;
}

.font-Arial11i
{
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: italic;
  color: black;
}

.font-Arial11B
{
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold; 
  font-style: normal;
  color: black;
}


.col-100px {
  float: left;
  width: 100px;
  padding-right: 5px;
}


.col-400px {
  float: left;
  width: 400px;
  margin-bottom: 4px;
}

.col-600px {
  float: left;
  width: 600px;
  margin-bottom: 4px;
}

/*------------------------------------------------------------*/
.basicRpg .container {
  border: 1px hidden red;
  
}

.basicRpg .profile-img {
  float: left;
  height: 100px;
  border: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}

.basicRpg .zone-charname {
  float: left;
  width: 300px;
  height:110px;
  border:  1px solid rgb(64, 64, 64);;
  border-radius: 4px;
  padding-right: 10px;  
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(220,220,220);
}

.basicRpg .charname-input[type=text] {
  width: 100%;
  height: 24px;  
  background: none;
  color: black;
  border: 0;
  margin: 4px;
  padding-top: 1px;
  padding-left: 5px;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.basicRpg .charname-input[type=text]:hover {
  background-color:rgb(200,200,200);
}
.basicRpg .charname-input[type=text]:focus {
  background-color:darkorange
}

.basicRpg .zone-carac {
  float: left;
  margin-top: 0px;
  width: 230px;
  border:  1px solid rgb(64, 64, 64);
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: rgb(220,220,220);
}

.basicRpg .carac-entete {
  float: left;
  width: 100%;      
  text-align: center;
  padding: 3px 0px 3px 0px;
  background-color: rgb(64, 64, 64);
  color: white;
}

.basicRpg .carac-label {
  float: left;
  width: 38px;
  height: 15px;
  border: 1px hidden red;
  padding: 0px 0px 0px 0px;
  margin: 1px 0px 0px 0px;
  text-align: right;
}

.basicRpg .carac-input[type=number] {
  float: left;
  width: 21px;
  height: 15px;  
  border: 1px hidden blue;
  background: none;    
  margin: 0px 5px 0px 5px;      
  padding: 0px 0px 0px 0px;  
  font-size: 11px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold; 
  font-style: normal;
  text-align: left;    
}
.basicRpg .carac-input[type=number]:hover {
  background-color:rgb(200,200,200);
}
.basicRpg .carac-input[type=number]:focus {
  background-color:darkorange
}


.basicRpg .carac-roll {
  float: left;
  height: 15px;
  border: 0px solid red;
  padding: 0px 0px 0px 0px;
  margin: 1px 0px 0px 0px;
  text-align: left;
}
.basicRpg .carac-roll:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.basicRpg .zone-carac-derivees {
  float: left;
  display: initial;
  margin: 0px 0px 5px 5px;
  height: 70px;
  width: 160px;
  border: 1px hidden rgb(64, 64, 64);
  border-radius: 4px;
  padding-left: 2px;  
}
.basicRpg .carac-derivees-label {
  float: left;
  width: 120px;
  height: 15px;
  border: 1px hidden red;
  padding: 0px 0px 0px 0px;
  margin: 1px 0px 0px 0px;
  text-align: right;
}
.basicRpg .carac-derivees-value {
  float: left;
  width: 28px;
  height: 15px;
  border: 1px hidden red;
  padding: 0px 0px 0px 0px;
  margin: 1px 0px 0px 5px;
  text-align: left;
}


/* Clear floats after the columns */
.basicRpg .row:after {
  content: "";
  display: table;
  clear: both;
}



/* Originaux */
.basicRpg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}















/* ---------------------------------------------------*/


input[type=text], select {
  width: 100%;
  height: 18px;
  border-width:  1px;
  border-style: solid;
  border-color:  rgb(200, 200,200);
  border-radius: 4px;
  
  text-align: left;
  margin-right: 4px;
  padding-top: 1px;
}






.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border: 3px solid red;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to basicRpg sheets */

.basicRpg .item-form {
  /*font-family: "Roboto", sans-serif;*/
  background-color: red;
}

.basicRpg .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.basicRpg .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.basicRpg .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.basicRpg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.basicRpg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.basicRpg .sheet-body,
.basicRpg .sheet-body .tab,
.basicRpg .sheet-body .tab .editor {
  height: 100%;
}

.basicRpg .tox .tox-editor-container {
  background: #fff;
}

.basicRpg .tox .tox-edit-area {
  padding: 0 8px;
}

.basicRpg .resource-label {
  font-weight: bold;
}

.basicRpg .items-header {
  height: 38px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid #eeede0;
  font-weight: bold;  
}

.basicRpg .items-header > * {
  font-size: 14px;
  text-align: center;
}

.basicRpg .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basicRpg .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
  border: 1px solid blue;
}

.basicRpg .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;  
}

.basicRpg .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  
}

.basicRpg .items-list .item-name h3, .basicRpg .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.basicRpg .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.basicRpg .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.basicRpg .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.basicRpg .items-list .item:last-child {
  border-bottom: none;
}

.basicRpg .items-list .item .item-name {
  color: #191813;
}

.basicRpg .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.basicRpg .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.basicRpg .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.basicRpg .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.basicRpg .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.basicRpg .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.basicRpg .effects .item .effect-source,
.basicRpg .effects .item .effect-duration,
.basicRpg .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.basicRpg .effects .item .effect-controls {
  border: none;
}
