
<ol class="list-skills">

	<!-- List Header -->
	<li class="items-header">		
		<div class="skill-name skill-fonts">Name</div>		
		<div class="skill-rollValue skill-fonts">%</div>
	</li>
		
	<!-- Loop to show SkillsList -->
	{{#each skills as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="skill-name skill-fonts">
				{{item.name}} 
				<span class="skill-font-baseValue ">({{item.data.baseValue}}%)</span>
			</div>
			<div class="skill-rollValue skill-fonts rollable" data-roll-type="item">
				{{item.data.rollValue}}
			</div>
		</li>	
	{{/each}}

</ol>
	