
<ol class="list-skills">

	<!-- List Header -->
	<li class="items-header">		
		<div class="skill-name skill-fonts">Nom de la Compétence</div>		
		<div class="skill-rollValue skill-fonts">%</div>
		<div class="skill-controls"></div>
	</li>
		
	<!-- Loop to show SkillsList -->
	{{#each skills as |item id|}}
		<li class="item" data-item-id="{{item._id}}">
			<div class="skill-experience" title="Montée de niveau">
				<a class="skill-experience-toggle" title="Montée de niveau"><i class="{{item.data.icon}}"></i></a>
			</div>
			<div class="skill-name skill-fonts">
				{{item.name}}
				<span class="skill-font-baseValue" title="Valeur de base de la compétence">({{item.data.baseValue}}%)</span>
			</div>
			<div class="skill-rollValue skill-fonts rollable" data-roll-type="item">
				{{item.data.rollValue}}
			</div>
			<div class="skill-controls">
				<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			</div>
		</li>	
	{{/each}}

</ol>
	